body, html {
    font-family: "Dosis", serif;
    font-optical-sizing: none;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

h1{
    font-family: "Charmonman", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255) ;
    text-align: left;
    word-spacing: 20px;
    margin: 0px 20px;
}

.subtitulo{
    font-size: 22px;
    text-align: left;
    margin: 0px 20px;
    color: white;
    text-shadow: 2px 2px 5px rgba(94, 94, 94, 0.5);
}

.presentacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

h2{
    font-size: 22px;
    text-shadow: 2px 2px 5px rgba(94, 94, 94, 0.5);
    color: #000000;
    font-weight: normal;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

h3{
    font-size: 18px;
    font-weight: normal;
    color: black;
    text-align: center;
}

p{
    font-size: 16px;
    color: black;
    text-align: justify;
    line-height: 1.8;
    letter-spacing: 2;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
}

.navbar {
    position: fixed; 
    display: flex;
    align-items: center;
    bottom: 0;      
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #333;
}

.navbar li {
    margin: 0 15px;
}
  
.navbar a {
    text-decoration: none;
    color: white;
    padding: 15px;
    display: block;
}

.navbar a:hover {
    background-color: #555; 
}

#menu{
    visibility: collapse;
    display: none;
}

.menu-btn {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    width: 25%;
    justify-content: center;
    visibility: visible;
    margin: 0px;
    background-color: #a34177;
}

.show-menu {
    display: flex !important;
    visibility: visible !important;
}

section{
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 20px;
    align-content: center;
    box-sizing: border-box;
}

.sBlanco{
    background-color: white;
}

.sMisProyectos{
    background-color: #537f9e
}

.fteBlanco{
    color: rgb(255, 255, 255);
}

img{
    width: 80px;
    height: auto;
}

.iconosContacto{
    width: 40px;
    height: auto;
    margin-right: 25px;
    box-sizing: border-box;
}

header{
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin:0;
}

footer{
    background-color: black;
    text-align: center;
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 35px;
    box-sizing: border-box;
}

.SobreMi{
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    align-items: center;
}

.fotoPerfil{
    width: 150px;
    height: auto;
    padding: 10px;
    border:#a34177;
    border-width: 5px;
    border-style:solid;
}

.FondoMovimiento{
    height: 100%;
    width: 100%;
    background-position: center;
    background:linear-gradient(45deg, #41a39e,#4177a3,#9e41a3,#a34177,#ffffff);
    background-size: 600%;
    animation: gradientShift 15s ease infinite;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes gradientShift{
    0%{
        background-position: 0%.0%;
    }
    50%{
        background-position: 100%.100%
    }
    100%{
        background-position: 0%.0%;
    }
}

.contenedorConocimientos{
    background-color: rgba(255, 255, 255, 0.75);
    flex-basis: 50vw;
    height: 100%;
    border-radius: 50px;
    margin: 3px 0px;
    padding: 0;
    box-sizing: border-box;
}

.alinear{
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;

}

.tablaProyectos{
    width: 100%;
    margin: 20px auto;
    border-collapse: separate;
    border-spacing: 20px 0px;
    table-layout: auto;
}

.tablaProyectos th{
    border: 1px solid #ffffff;
    color: #ffffff;
    background-color: #a34177;
    padding: 10px;
    text-align: center;
}

.tablaProyectos td {
    border: 1px solid #ffffff;
    padding: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: left;
    width: 30%;
}

.tablaProyectos td {
    transition: background-color 0.3s ease;
}

.tablaProyectos td:hover{
    background: radial-gradient(ellipse farthest-corner, white, rgb(185, 185, 185));
}

.contenedorFormulario {
    max-width: 600px;
    margin: 10px auto;
    background-color: #949494;
    padding: 20px;
    box-shadow: 0 0 10px rgba(147, 147, 147, 0.852);
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 0px;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 5px;
    box-sizing: border-box;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #a34177;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    background-color: #a34177 ;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
}

button:hover {
    background-color: #a8a8a8;
}


@media (max-width: 480px) {
    h1 {
        font-size: 36px;
    }

    .subtitulo {
        font-size: 22px;
    }

    p {
        font-size: 20px;
        padding: 20px;
        margin: 20px;
    }

    .navbar{
        width: 100vw;
        height: auto;
        align-items: flex-end;
    }
    
    .navbar ul {
        transition: max-height 0.3s ease-in-out;
        flex-direction: column;
        text-align: center;
        overflow: auto;
    }

    .navbar li {
        margin: 0px 0;
    }

    .contenedorFormulario {
        width: 90%;
        padding: 10px;
        align-content: flex-start;
    }

    .iconosContacto {
        width: 30px;
        margin-right: 15px;
    }

    .SobreMi{
        display: flex;
        gap: 10px;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .fotoPerfil{
        flex-basis: 30vw;
        justify-content: center;
    }

    .contenedorConocimientos{
        flex-basis: 80vw;
        border-radius: 20px;
        margin: 12px 12px;
        padding: 5px 5px;
        box-sizing: border-box;
        justify-content: center;
        align-content: flex-start;
    }

    .iconosConocimientos{
        display: flex;
        flex-basis: 100%;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .iconosConocimientos img{
        flex: 0 1 auto;
    }

    section {
        padding: 0px 0px;
        margin: 0px 0px;
        height: 100vh;
        min-height: 100vh;
        overflow: auto;
        box-sizing: border-box;
        align-content: flex-start;
    }  

    .tablaProyectos{
        width: 100%;
        margin: 5px 5px;
        border-collapse: separate;
        border-spacing: 5px 0px;
        table-layout: fixed;
    }

    .tablaProyectos thead{
        display: none;
    }

    .tablaProyectos tbody td{
        display: flex;
        justify-content: space-between;      
        text-align: left;
        white-space: normal;
        word-wrap: break-word;
        overflow-wrap: break-word; 
    }

    .tablaProyectos tbody td::before{
        content: attr(data-field);
        justify-content: space-between;       
        font-weight: bold;
        color: black;
        padding: 0 10px 0 0;
        text-align: left; 
        flex: 1;
        overflow: hidden;
    }

    .tablaProyectos tbody td span{
        flex: 2;
    }

    .tablaProyectos th, td{
        border-spacing: 0px;
        margin: 5px 0;
        padding: 5px;
    }

    .tablaProyectos td {
        transition: background-color 0.3s ease;
    }
    
    .tablaProyectos td:hover {
        background: radial-gradient(ellipse farthest-corner, white, rgb(185, 185, 185));
    }
    
    .show-menu {
        max-height: 300px;
    }

    .menu-btn{
        align-self: flex-end;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 40px;
    }

    .subtitulo {
        font-size: 24px;
    }

    p {
        font-size: 20px;
        padding: 20px;
        margin: 20px;
    }

    .navbar{
        width: 100vw;
        height: auto;
        align-items: flex-end;
    }
    
    .navbar ul {
        transition: max-height 0.3s ease-in-out;
        flex-direction: column;
        text-align: center;
        overflow: auto;
    }

    .navbar li {
        margin: 0px 0;
    }

    .contenedorFormulario {
        width: 90%;
        padding: 10px;
        align-content: flex-start;
    }

    .iconosContacto {
        width: 30px;
        margin-right: 15px;
    }

    .SobreMi{
        display: flex;
        gap: 10px;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .fotoPerfil{
        flex-basis: 30vw;
        justify-content: center;
    }

    section {
        padding: 0px 0px;
        margin: 0px 0px;
        height: 100vh;
        min-height: 100vh;
        overflow: auto;
        box-sizing: border-box;
        align-content: flex-start;
    }

    .contenedorConocimientos{
        flex-basis: 80vw;
        border-radius: 20px;
        margin: 12px 12px;
        padding: 5px 5px;
        box-sizing: border-box;
        justify-content: center;
        align-content: flex-start;
    }

    .iconosConocimientos{
        display: flex;
        flex-basis: 100%;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .iconosConocimientos img{
        flex: 0 1 auto;
    }

    .tablaProyectos{
        width: 100%;
        margin: 5px 5px;
        border-collapse: separate;
        border-spacing: 5px 0px;
        table-layout: fixed;
    }

    .tablaProyectos thead{
        display: none;
    }

    .tablaProyectos tbody td{
        display: flex;
        justify-content: space-between; 
        text-align: left;
        white-space: normal;
        word-wrap: break-word;
        overflow-wrap: break-word; 
    }

    .tablaProyectos tbody td::before{
        content: attr(data-field);
        justify-content: space-between;       
        font-weight: bold;
        color: black;
        padding: 0 10px 0 0;
        text-align: left; 
        flex: 1;
        overflow: hidden;
    }

    .tablaProyectos tbody td span{
        flex: 2;
    }

    .tablaProyectos th, td{
        border-spacing: 0px;
        margin: 5px 0;
        padding: 5px;
    }

    .tablaProyectos td {
        transition: background-color 0.3s ease;
    }
    
    .tablaProyectos td:hover {
        background: radial-gradient(ellipse farthest-corner, white, rgb(185, 185, 185));
    }
    
    .show-menu {
        max-height: 300px;
    }

    .menu-btn{
        align-self: flex-end;
    }
}
/*
@media (max-width: 1024px){
    h1{
        font-size: 24px;
        text-align: center;
    }

    .subtitulo{
        font-size: 18px;
        text-align: center;
    }

    p{
        padding-left: 15px;
        padding-right: 15px;
        font-size: 14px;
    }

    .tablaProyectos{
        border-spacing: 5px 0px;
    }

    .tablaProyectos tbody th{
        padding: 10px;
        width: 100%;
    }
    
    .tablaProyectos tbody td {
        padding: 10px;
        width: 100%;
    }

    .fotoPerfil{
        width: 50%;
    }

    .contenedorConocimientos {
        border-radius: 10px;
        width: 80%;
    }
}
